body {
    font-family: verdana, arial, helvetica, sans-serif;
    margin: 0px;
}

#header{
    text-align: center;
    border-style: solid;
    background-color: #248da8;
    color: white;
    border-color: #248da8;
    border-width: 100%;
    
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}


nav li {
    background: black;
    border-style: solid none solid none;
    border-width: 1px;
    border-color: maroon;
    text-align: center;
    padding: 0;
    width: 16%;
    float: left;
}

nav a:hover,
nav #huidig a {
    font-size: 30px;
    color:red;
}

nav a {
    text-decoration: none;
    display: block;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: black;
}

nav a:link {
    color: #222;
    /* donkergrijs */
}

nav a:visited {
    color: #555;
    /* lichtgrijs */
}

@media screen and (max-width: 415px) {
    nav li {
        float: none;
        width: 100%;
        transition-property: background-color;
        transition-duration: 2s;
        background-color: red;
    }
}
