body {
    font-family: verdana, arial, helvetica, sans-serif;
    margin: 0px;
}

#header{
    text-align: center;
    border-style: solid;
    background-color: #248da8;
    color: white;
    border-color: #248da8;
    border-width: 100%;
    
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}


nav li {
    background: deepskyblue;
    border-style: solid none solid none;
    border-width: 0px;
    text-align: center;
    padding: 0px;
    width: 316px;
    float: left;
    border-radius: 5px;
}

nav a:hover,
nav #huidig a {
    font-size: 25px;
    color:white;
    border-radius: 5px;
}

nav a {
    text-decoration: none;
    display: block;
    border-style: solid;
    border-width: 5px;
    border-color: deepskyblue;
}

nav a:link {
    color: white;
}

nav a:visited {
    color: antiquewhite;
}
#iphonefoto
{
    margin-top: 40px;
    position: absolute;
}
#samsung
{
    
    position: absolute;
    margin-left: 1100px;
    margin-top: 300px;
    
}

#tekstfoto
{
    
    position: absolute;
    font-size: 50px;
    margin-left: 550px;
    margin-top: 150px;
    text-align: center;
    
}
#tekstfototwee
{
    
    position: absolute;
    margin-left: 50px;
    text-align: center;
    font-size: 40px;
    margin-top: 380px;
    margin-left: 620px;
    
}
#imgscooter
{
    
    position: absolute;
    float: right;
    margin-left: 72%
    
    
}
#blok1
{
    
    position: absolute;
    margin-left: 100px;
    margin-top: 660px;
    display: block;
    border-style: solid;
    border-color: red;
    height: 180px;
    width: 300px;
    border-width: 10px;
    text-align: center;
    font-size: 20px
}

@media screen and (max-width: 415px) {
    nav li {
        float: none;
        width: 100%;
        transition-property: background-color;
        transition-duration: 2s;
        background-color: red;
    }
}
