#beweging {
    margin: 0px;
    border: 9px;
    width: 130px;
    font-size: 30px;
    border-style: solid;
    position: absolute;
    animation-name: anim;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate;
}

@keyframes anim {
    0% {
        left: 0px;
        top: 0px;
        background-color: yellow;
    }
    25% {
        left: 90.75%;
        top: 0px;
        background-color: aqua;
    }
    50% {
        left: 90.75%;
        top: 648px;
        background-color: blue;
    }
    75% {
        left: 0%;
        top: 648px;
        background-color: red;
    }
    100% {
        left: 0px;
        top: 0px;
        background-color: brown;
    }
}
